In [94]:
import pandas as pd

In [95]:
df = pd.read_pickle('cities_t_pm25.pkl')

In [96]:
sorted = df.groupby('date').apply(pd.DataFrame.sort_values, 'hour')

In [98]:
select= sorted[['date','hour','Beijing','Shanghai']].copy()
select2= sorted[['date','hour','Beijing','Shanghai']].copy()

In [99]:
shanghailist = sorted.Shanghai.tolist()

In [100]:
beijinglist = sorted.Beijing.tolist()

In [101]:
alldelta = pd.DataFrame()

In [102]:
s=1
while(s<10):
    difference = s 
    i=0
    j=i+difference
    delta = []
    while(j<len(shanghailist)):
        delta.append(beijinglist[i]-shanghailist[j])
        i = i+1
        j = j+1  
        
    while(len(delta)!= len(select.Shanghai)):
        delta.append(None)       
    select['delta'+str(s)] = delta
    alldelta['delta'+str(s)] = delta

    s = s+1

In [103]:
alldelta

      delta1  delta2  delta3  delta4  delta5  delta6  delta7  delta8  delta9
0      104.0   105.0   109.0   110.0   115.0   119.0   113.0   117.0   103.0
1      101.0   105.0   106.0   111.0   115.0   109.0   113.0    99.0   102.0
2       96.0    97.0   102.0   106.0   100.0   104.0    90.0    93.0   101.0
3       86.0    91.0    95.0    89.0    93.0    79.0    82.0    90.0    96.0
4       78.0    82.0    76.0    80.0    66.0    69.0    77.0    83.0    85.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
8573   314.0   316.0   317.0   314.0     NaN     NaN     NaN     NaN     NaN
8574   332.0   333.0   330.0     NaN     NaN     NaN     NaN     NaN     NaN
8575   349.0   346.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
8576   394.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
8577     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[8578 rows x 9 columns]

In [104]:
def getColumn(df):
    name = []
    for i in df:
        name.append(i)
    return name

In [105]:
def getMax(df):
    column = getColumn(df)
    sum1 = []
    for i in column:
        sum1.append(alldelta[i].sum())
    m = max(sum1)
    [i for i, j in enumerate(sum1) if j == m]
    return 1

In [106]:
getMax(alldelta) ##this shows that the second delta gives the maximum difference.

1