# NCDC ISD STATION ID links to Chinese cities

In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('../data/weather/station_info.csv', header='infer')

/Users/jarvis/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
df = df.iloc[:,0:7]
df

,province,station_id,station name,"latitude (', '')","longitude (', "")",Elevation (m),观测场拔海高度(米)
0,安徽,58015,砀山,3427,11620.0,45.4,44.2
1,安徽,58016,萧县,3411,11658.0,35.9,34.7
2,安徽,58102,亳州,3352,11546.0,39.2,37.7
3,安徽,58107,临泉,3301,11517.0,37.0,35.8
4,安徽,58108,界首,3314,11520.0,35.0,34.0
...,...,...,...,...,...,...,...
2167,重庆,57612,綦江,2900,10639.0,475.9,474.7
2168,重庆,57633,酉阳,2849,10846.0,827.7,826.5
2169,重庆,57635,秀山,2827,10859.0,364.0,363.7
2170,极地,89573,南极中山,-6922,-7622.0,17.0,14.9
2171,极地,89058,南极长城,-6213,-5858.0,12.0,10.0

In [30]:
# adjust the station_id to the ISD format, which is add a '0' at the end of the str and makes a 6-digit length ID evetually.
df['station_id'] = df['station_id'].apply(lambda x: str(x) + '0')

## Data cleaning

In [32]:
df[df['station_id'] == 'nan0']

,province,station_id,station name,"latitude (', '')","longitude (', "")",Elevation (m),观测场拔海高度(米)
695,黄站,nan0,NaN,NaN,NaN,NaN,NaN
696,\r\n,nan0,NaN,NaN,NaN,NaN,NaN

In [33]:
df = df[df['station_id'] != 'nan0']

In [35]:
df['station_id'] = df['station_id'].apply(lambda x: int(x))

ValueError: invalid literal for int() with base 10: '50937 科0'

In [ ]:
df['station_id']